@import "vars";


.slider {
  background: $color-product-bg;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  filter: brightness(100%);
  min-height: 50vh;

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    cursor: pointer;
    border: none;
    padding-top: 2px;
    background: rgba(40, 40, 40, 0.15);
    &:hover path {
      fill: $color-accent;
    }
  }

  &__arrow--left {
    padding-right: 2px;
  }

  &__arrow--right {
    padding-left: 2px;
  }

  &__img {
    object-fit: contain;
    width: 80vw;
    max-width: 600px;
    min-width: 300px;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }
}





.product-desc {
  background: #FFF;
  border: 1px solid #EAEAEA;
  min-height: 600px;
  margin: -65px 8px 130px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: relative;
}



.product {

  &__up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 65px;
  }

  &__divider {
    margin-bottom: 12px;
  }

  &__collection {
    font-size: 14px;
    font-weight: 300;
    color: $color-accent;
    margin-top: 64px;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 18px;
    font-weight: 300;
    color: $color-medium-dark-text;
    margin-bottom: 48px;
  }

  &__description {
    font-size: 14px;
    font-weight: 300;
    color: $color-medium-text;
    margin-bottom: 32px;
    max-width: 550px;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
  }

  &__price {
    font-size: 24px;
    font-weight: 300;
    color: $color-accent;
    margin-bottom: 65px;
  }

  &__button {
    margin-bottom: 64px;
  }

  &__btn {
    padding: 15px;
    text-align: center;
    color: $color-accent;
    border: 1px solid $color-accent;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $color-accent;
      border: 1px solid $color-accent;
    }
    &:hover path{
      fill: #fff;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
  }
}

.btn-icon {
  margin-right: 22px;
}

.choose-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose {
  &__button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: $color-accent;
    padding: 15px 50px 15px 24px;
    background: $color-white ;
    border: 1px solid $color-accent;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $color-white;
      background: $color-accent;
    }
    &:hover path{
      fill: $color-white;
    }
  }
}

.choose-wrapper {
  display: flex;
  gap: 22px;
  margin-bottom: 48px;
}

.goods__products-ms {
  margin-bottom: 0;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .card-hide1 {
    display: none;
  }

  .card-first {
    order: -1;
  }
}
@media (max-width: 768px) {
  .second-header {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .card-hide1 {
    display: block;
  }
  .card-hide2 {
    display: none;
  }

  .product__up {
    max-width: 640px;
    width: auto;
  }

  .choose__title {
    font-size: 10px;
  }

  .choose__button {
    margin-bottom: 64px;
  }

  .product-desc {
    margin-bottom: 64px;
  }

  .product__price {
    margin-bottom: 32px;
  }

  .product__up {
    margin-bottom: 50px;
  }
}
@media (max-width: 375px) {

}